[run]
branch = True
relative_files = True
data_file = .sonar/reports/.coverage
source =
    report
    orchestrate
    utility/python
omit =
    **/test_*.py
    **/*_test.py

[report]
show_missing = True
include_namespace_packages = True

[xml]
output = .sonar/reports/coverage-python.xml